
@{
    ViewBag.Title = "AddReferral";
    Layout = "~/Views/Shared/_Member.cshtml";
    //var Cat = (List<Ebiz.Models.BusinessCatMst>)ViewBag.Cat;
}


<div class="row">
    <div class="col-md-12">
        <div class="cotact-area">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="col-md-12">
                        <div class="title-area">
                            <h2 class="title">Refer</h2>
                            <span class="line"></span>

                        </div>
                    </div>
                    <div class="contact-area-right">
                        <form id="addreferral-form" name="addreferral-form" class="comments-form contact-form" novalidate>
                            @*<div class="form-group">
                                    <label for="exampleSelect1">Select Group</label>
                                    <select class="form-control" name="Grps" id="Grps">


                                        <option value="">Select</option>
                                        @foreach (var res in Grps)
                                        {
                                            <option value="@res.Id">@res.Name</option>
                                        }
                                    </select>
                                </div>*@

                            <div class="form-group">
                                <input type="text" class="form-control" id="Name" name="Name" maxlength="100" placeholder="Name">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="PhoneNo" name="PhoneNo" maxlength="10" placeholder="Phone No.">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="Email" name="Email" maxlength="100" placeholder="Email">
                            </div>


                            <div class="form-group">
                                <button id="addreferral" name="addreferral" class="comment-btn">Add</button>
                            </div>
                            <span id="ErrorMsg" style="color:red"></span>
                        </form>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
</div>

@section reg{
    <script type="text/javascript">

        $(window).bind("beforeunload", function () {
            return confirm("Do you really want to close?");
        })
        $(function () {

            var $validator = $("#addreferral-form").validate({
                // Rules for form validation
                rules: {
                    Name: {
                        required: true
                    },
                    PhoneNo: {
                        required: true,
                        number:true
                    },
                    Email:{
                        required:true,
                        email:true
                    }
                },

                // Messages for form validation
                messages: {

                    Name: {
                        required: "Please Enter Name"
                    },
                    PhoneNo: {
                        required: "Please Enter Name",
                        number: "Invalid PhoneNo"
                    },
                    Email: {
                        required: "Please Enter Name",
                        email: "Invalid Email"
                    },

                    // Do not change code below
                    errorPlacement: function (error, element) {
                        error.insertAfter(element.parent());
                    }
                }
                });

            $("#addreferral").click(function () {
                $("#ErrorMsg").html();
                if ($("#addreferral-form").valid()) {
                    $.ajax({
                        type: "post",
                        datatype: "json",
                        url: '@Url.Action("AddRefer", "Member")',
                        data: {
                            Name: $("#Name").val(), PhoneNo: $("#PhoneNo").val(), Email: $("#Email").val()
                        },
                        success: function (res) {
                            if (res.toString() == "success") {
                                alert("Referral Added.");
                                window.location.href = "@Url.Action("ViewGrpMember", "Member")";
                            }
                            else {
                                $("#ErrorMsg").html(res.toString());
                            }
                        },
                        error: function (res) {
                            $("#ErrorMsg").html('Error While Processing Data');
                        }
                    });
                }
            });
        });
    </script>
}